{% extends "::base.html.twig" %}
{% block title 'Página no encontrada'|trans({},'frontend')~' - HostalesCuba' %}
{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
    <link href="{{asset('css/frontend/style.css')}}" rel="stylesheet" >
    <link href="{{asset('plugins/animate.css')}}" rel="stylesheet" >
    <link href="{{asset('plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" >
    <link href="{{asset('css/frontend/pages/page_error3_404.css')}}" rel="stylesheet" >
    <link href="{{asset('css/frontend/pages/error_404_hc.css')}}" rel="stylesheet" >
{% endblock %}
{% block body %}
    <!--=== Error V3 ===-->
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Page Not Found</h3>

        <div class="error-desc">
            Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.
            
        </div>
    </div>
{%endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{asset('plugins/jquery/jquery-migrate.min.js')}}"></script>
    <script src="{{asset('plugins/back-to-top.js')}}"></script>
    <script src="{{asset('plugins/backstretch/jquery.backstretch.min.js')}}"></script>
    <script type="text/javascript">
        
    </script>
{% endblock %}
    


