<div class="row" style="margin-top: 3%">
    {% include '@App/Admin/dashboard/_modalResolvedTask.html.twig' %}
    <!-- START My Tasks -->
    <div class="col-md-8">
        <div class="panel panel-default no-bg-pending b-a-2">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4 col-xs-4">Tasks - <b>Pending</b> <span class="m-l-1 badge badge-outline amount-task-pending" style="background-color: {{ myTask.color_pending }}">{{ myTask.task_pending|length }}</span></div>
                </div>
            </div>
                <table class="table table-hover">
                    <thead>

                    <tr>
                        <th class="small text-muted text-uppercase"><strong>Priority</strong></th>
                        <th class="small text-muted text-uppercase"><strong>Task &amp; Project</strong></th>
                        <th class="small text-muted text-uppercase"><strong>Date &amp; Days</strong></th>
                        <th class="small text-muted text-uppercase"><strong>Created By</strong></th>
                        <th class="small text-muted text-uppercase text-right"><strong>Actions</strong></th>
                    </tr>
                    </thead>
                    <tbody id="body-my-task-pending">
                    <div class="my-ceter modal-loading-panel-pending-myTask" style="display: none"><i class="fa fa-spin fa-refresh fa-5x center-block"></i></div>
                    <!-- START ROW Task -->
                    {% for task in myTask.task_pending %}
                        {% if task.priority == 'Small' %}
                            {% set color = '#84b547' %}
                        {% elseif task.priority == 'Medium' %}
                            {% set color = '#e76d3b' %}
                        {% else %}
                            {% set color = '#cc3e4a' %}
                        {% endif %}
                        <tr title="{{ task.description }}">
                            <td class="v-a-m">
                                <div style="display: flex">
                                    <i class="fa fa-fw fa fa-circle" style="margin-top: 2%; color: {{ color }}"></i> {{ task.priority }}
                                </div>
                            </td>
                            <td class="v-a-m">
                               <span class="task-name">{{ task.task }}</span>

                                <br>
                               <span style="color: #000000" class="label label-cerulean label-outline">{{ task.proyect }}</span>
                               <input type="hidden" value="{{ task.project_id }}" class="task-project-name">
                            </td>
                            <td>
                                {{task.createdOn|date('m/d/Y')~' '}} <b>{{ get_dif_days(task.createdOn)}}</b>
                            </td>
                            <td class="user-assigned">
                                <b>{{task.userCreatedTask}}</b>
                            </td>
                            <td class="text-right v-a-m">
                                <div class="form-group-sm" style="display: inline-flex;">
                                    <button id="resolvedTask-{{ task.task_id }}" title="Resolved Task" class="btn btn-xs btn-default resolved-task"><i class="fa fa-check-circle fa-fw"></i></button>
                                    <a href="#" title="Details" onclick="viewObject({{task.task_id  }})" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalView"><i class="fa fa-search fa-fw"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    <!-- END ROW Task -->
                    </tbody>
                </table>
            {% if myTask.task_pending|length == 0 %}
                <div class="alert alert-warning warning-panel-pending-mytask" style="margin-bottom: auto;">
                    <i class="fa fa-warning"></i> There are no tasks assigned to you
                </div>
            {% endif %}
            <!-- END Scroll Inside Panel -->
        </div>
    </div>
    <!-- END My Tasks -->

    <!-- START My Tasks Ready for Tested-->
    <div class="col-md-4">
        <div class="panel panel-default b-a-2 panel-ready-for-test-mytask">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10 col-xs-10">Tasks - <b>Ready for tested</b> <span class="m-l-1 badge badge-outline amount-task-ready-for-test-mytask" style="background-color: {{ myTask.color_ready_for_test }}">{{ myTask.task_ready_for_test|length }}</span></div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>

                <tr>
                    <th class="small text-muted text-uppercase"><strong>Task &amp; Project</strong></th>
                    <th class="small text-muted text-uppercase"><strong>Created By</strong></th>
                </tr>
                </thead>
                <tbody id="body-my-task-ready-for-test">
                <div class="my-ceter modal-loading-panel-ready-for-test-myTask" style="display: none"><i class="fa fa-spin fa-refresh fa-5x center-block"></i></div>
                <!-- START ROW Task -->
                {% for task in myTask.task_ready_for_test %}
                    <tr title="{{ task.description }}">
                        <td class="v-a-m">
                            <span class="task-name">{{ task.task }}</span>
                            <br>
                            <span style="color: #000000" class="label label-cerulean label-outline">{{ task.proyect }}</span>
                            <input type="hidden" value="{{ task.project_id }}" class="task-project-name">
                        </td>
                        <td class="user-assigned">
                            <b>{{task.userCreatedTask}}</b>
                        </td>
                    </tr>
                {% endfor %}
                <!-- END ROW Task -->
                </tbody>
            </table>
            {% if myTask.task_ready_for_test|length == 0 %}
                <div class="alert alert-warning warning-panel-ready-for-test-mytask" style="margin-bottom: auto;">
                    <i class="fa fa-warning"></i> There are no pending tasks to review created by you.
                </div>
            {% endif %}
            <!-- END Scroll Inside Panel -->
        </div>
    </div>
    <!-- END My Tasks -->
</div>