{% extends 'AppBundle:Admin:layout.html.twig' %}
{% block title 'Error 404 - CubaArchive' %}
{% block stylesheets %}    
    {{parent()}}    
{% endblock %}
{% block content%}
    <div id="page-wrapper" class="wrapper-heigth">
        <div class="ep-div-content">
            <span class="ep-span-error">ERROR 404</span><br>
            <span class="ep-span-error-description">{{text}}</span>
            <div class="ep-div-btn">
                <a href="{{btnUrl}}" type="button" class="btn btn-success"><i class="fa {{btnIcon}} fa-fw"></i> <b>{{btnText}}</b></a>
            </div>
        </div>        
    </div>    
{% endblock  %}
{% block javascripts %}
    {{parent()}}
{% endblock %}