{%extends '::base.html.twig'%}
{% block title 'New Password - Taskit' %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/login/login.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{asset('plugins/font-awesome/css/font-awesome.min.css')}}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('plugins/sky-forms-pro/skyforms/css/sky-forms.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css') }}" type="text/css" rel="stylesheet"/>
        <style>
            .background-color-transparent {
                background-color: transparent !important;
            }
            .panel-footer {
                padding: 10px 15px;
                background-color: #f5f5f5;
                border-top: 1px solid #ddd;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            .center-block {
                width: 50%;
                margin-left: auto;
            }
            .btn-u {
                border: 0;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                font-weight: 400;
                padding: 6px 13px;
                position: relative;
                background: #337ab7;
                white-space: nowrap;
                display: inline-block;
                text-decoration: none;
            }
            .loading-input {
                background: rgba(0, 0, 0, 0) url(../../img/ajax-loader.gif) no-repeat scroll 97% center !important;
            }
            .div-new-password {
                padding: 0 5px;
            }
        </style>
    {% endblock %}
    {% block body %}
        <div class="container content-md center-icon-breadcrumbs">

            <div class="row">
                <h2 class="text-center">Account recovered!</h2>
                <h4 class="text-center">Set a new password for your account.</h4>

                <div class="center-block">
                    <form id="fp-step3" class="sky-form" method="post" action="{{ path('forget_password_new_password') }}" novalidate="novalidate">
                        <div class="panel panel-default" style="border-color: #337ab7">
                            <div class="panel-heading" style="background-color:  #337ab7">
                                <h3 class="panel-title" style="color: white;">
                                    <i class="fa fa-lock"></i>  Set password</h3>
                            </div>
                            <div class="panel-body">
                                <div class="input-group div-new-password">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    {{ form_widget(form.password.first, {'attr': {'class' : 'form-control', 'placeholder': 'New password'} }) }}
                                </div>
                                <div class="input-group div-new-password" style="margin-top: 2%">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    {{ form_widget(form.password.second, {'attr': {'class' : 'form-control', 'placeholder': 'Confirm password'} }) }}
                                </div>
                                {{ form_errors(form.password.first) }}
                                {{ form_errors(form.password.second) }}
                                {{ form_rest(form) }}
                            </div>
                            <div class="panel-footer background-color-transparent text-right">
                                <button type="submit" class="btn-u">Finish</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>


    {% endblock %}
    {% block javascripts %}
        {{  parent() }}
        <script src="{{ asset('plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ asset('plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{ asset('js/admin/user/userFunctions.js') }}"></script>
        <script>user.validateForgotPasswordStep3()</script>
    {% endblock %}


