{%extends '::base.html.twig'%}
{% block title 'Enter code'~' - Taskit' %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/login/login.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{asset('plugins/font-awesome/css/font-awesome.min.css')}}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('plugins/sky-forms-pro/skyforms/css/sky-forms.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css') }}" type="text/css"
              rel="stylesheet"/>
        <style>
            .background-color-transparent {
                background-color: transparent !important;
            }
            .panel-footer {
                padding: 10px 15px;
                background-color: #f5f5f5;
                border-top: 1px solid #ddd;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            .center-block {
                width: 50%;
                margin-left: auto;
            }
            .btn-u {
                border: 0;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                font-weight: 400;
                padding: 6px 13px;
                position: relative;
                background: #337ab7;
                white-space: nowrap;
                display: inline-block;
                text-decoration: none;
            }
            .loading-input {
                background: rgba(0, 0, 0, 0) url(../../img/ajax-loader.gif) no-repeat scroll 97% center !important;
            }
            .input-enter-code {
                letter-spacing: 10px;
                text-align: center;
            }
        </style>
    {% endblock %}
    {% block body %}
        <div class="container content-md center-icon-breadcrumbs">

            <div class="row">
                <h2 class="text-center">We are almost finished!</h2>
                <h4 class="text-center">The code has been sent to <i>{{email }}</i></h4>

                <div class="center-block">
                    <form id="fp-step2" class="sky-form" method="post" action="{{ path('forget_password') }}" novalidate="novalidate">
                        <div class="panel panel-default" style="border-color: #337ab7">
                            <div class="panel-heading" style="background-color:  #337ab7">
                                <h3 class="panel-title" style="color: white;">
                                    <i class="fa fa-key"></i> Check your email</h3>
                            </div>
                            <div class="panel-body">
                                <p>We have sent you an email with a 6-digit code. Enter it here:</p>
                                <div class="input-group col-xs-12 col-md-6">
                                    <span class="input-group-addon">
                                        <i class="fa fa-asterisk"></i>
                                    </span>
                                    <input id="code" class="form-control input-enter-code" type="text"
                                           required="required"
                                           name="code" placeholder="CODE" maxlength="6">
                                    <input type="hidden" value="second" name="step">
                                    <input type="hidden" value="{{ email }}" name="email" id="email">
                                </div>
                            </div>
                            <div class="panel-footer background-color-transparent text-right">
                                <button type="submit" class="btn-u">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>


    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ asset('plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{ asset('plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('js/admin/user/userFunctions.js') }}"></script>
        <script> user.validateForgotPasswordStep2();</script>
    {% endblock %}


