{%extends '::base.html.twig'%}
{% block title 'Forgot password'~' - Taskit' %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{asset('plugins/font-awesome/css/font-awesome.min.css')}}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('css/login/login.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('plugins/sky-forms-pro/skyforms/css/sky-forms.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css') }}" type="text/css" rel="stylesheet"/>

        <style>
            .background-color-transparent {
                background-color: transparent !important;
            }
            .panel-footer {
                padding: 10px 15px;
                background-color: #f5f5f5;
                border-top: 1px solid #ddd;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            .center-block {
                width: 50%;
                margin-left: auto;
            }
            .btn-u {
                border: 0;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                font-weight: 400;
                padding: 6px 13px;
                position: relative;
                background: #337ab7;
                white-space: nowrap;
                display: inline-block;
                text-decoration: none;
            }
            .loading-input {
                background: rgba(0, 0, 0, 0) url(../../img/ajax-loader.gif) no-repeat scroll 97% center !important;
            }
        </style>
    {% endblock %}
    {% block body %}
        <div class="container content-md center-icon-breadcrumbs">
            <div class="row">
                <h2 class="text-center">Have you forgotten the password?</h2>
                <h4 class="text-center">Do not worry it will only take you 1 minute to recover it.</h4>

                <div class="center-block">
                    <form id="fp-step1" class="sky-form" method="post" action="{{ path('forget_password') }}" novalidate="novalidate">
                        <div class="panel panel-default" style="border-color: #337ab7">
                            <div class="panel-heading" style="background-color:  #337ab7">
                                <h3 class="panel-title" style="color: white;">
                                    <i class="fa fa-unlock-alt"></i> Recover password
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p> Please enter the email with which you have registered in Taskit.</p>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                    <input id="email" class="form-control" type="email" required="required"
                                           name="email" placeholder="user@domin" autocomplete="off">
                                    <input type="hidden" value="first" name="step">
                                </div>
                            </div>
                            <div class="panel-footer background-color-transparent text-right">
                                <button id="btn-search-forgot-password" type="submit" class="btn-u">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ asset('plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js') }}"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script src="{{ asset('plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('js/admin/user/userFunctions.js') }}"></script>
        <script>
            user.validateForgotPasswordStep1();
        </script>
    {% endblock %}