{% extends '@App/Admin/layout.html.twig' %}
{% block title 'Edit profile'~' - Taskit' %}
{% block stylesheets %}    
    {{parent()}}
    <style>
        .col-sm-8{
           display:inline-flex;
        }
    </style>
{% endblock %}
{% form_theme form _self %}
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}    
        {% for error in errors %}
            <label for="{{form.vars.id}}" class="margin-none">{{ error.message }}</label>
        {% endfor %}    
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}     
{% block content %}
    <div id="page-wrapper" class="wrapper-heigth">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Edit profile</h1>
            </div>
        </div>
        <div>
            {{ form_start(form, {'class': 'form-horizontal', 'action': path('system_profile_edit',{username:username}), 'attr': {'class': 'form-horizontal'}}) }}
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group">
                            <div class="col-sm-4 control-label">                                
                                <label>Name:</label>
                            </div>                      
                            <div class="col-sm-8">
                                {{form_widget(form.name, {'attr': {'class' : 'form-control'} })}}
                                {{form_errors(form.name)}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                <label>Username:</label>
                            </div>
                            <div class="col-sm-8">
                                {{form_widget(form.username, {'attr': {'class' : 'form-control'} })}}
                                {{form_errors(form.username)}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                <label> Password:</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password" id="appbundle_user_current_password" name="appbundle_user[currect_password]" class="form-control"><button type="button" id="input-appbundle_user_current_password" class="btn btn-default btn-enable"><i class="fa fa-edit fa-1x"></i></button>
                            </div>
                            <div class="col-sm-8 col-md-offset-4">
                                {% for message in app.session.flashbag.get('error_password_msg') %}
                                    <h5>{{message }}</h5>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                <label>New passsword:</label>
                             </div>                      
                             <div class="col-sm-8">
                                {{form_widget(form.password.first, {'attr': {'class' : 'form-control'} })}} 
                                {{form_errors(form.password.first)}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                <label>Repeat password:</label>
                            </div>                      
                            <div class="col-sm-8">
                                {{form_widget(form.password.second, {'attr': {'class' : 'form-control'} })}} 
                                {{form_errors(form.password.second)}}                    
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                <label>Email:</label>
                            </div>
                            <div class="col-sm-8">
                                {{form_widget(form.email, {'attr': {'class' : 'form-control'} })}}<button type="button" id="input-appbundle_user_email" class="btn btn-default btn-enable"><i class="fa fa-edit fa-1x"></i></button>
                                {{form_errors(form.email)}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                <label>Address:</label>
                            </div>
                            <div class="col-sm-8">
                                {{form_widget(form.address, {'attr': {'class' : 'form-control'} })}}<button type="button" id="input-appbundle_user_address" class="btn btn-default btn-enable"><i class="fa fa-edit fa-1x"></i></button>
                                {{form_errors(form.address)}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                <label>Phone:</label>
                            </div>
                            <div class="col-sm-8">
                                {{form_widget(form.phone, {'attr': {'class' : 'form-control'} })}}<button title="Edit" type="button" id="input-appbundle_user_phone" class="btn btn-default btn-enable"><i class="fa fa-edit fa-1x"></i></button>
                                {{form_errors(form.phone)}}
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="checkPassword" name="appbundle_user[checkPassword]" value="false">
                <input type="hidden" id="changeData" name="appbundle_user[changeData]" value="">
                <hr>
                <div class="row">   
                    <div class="col-sm-7">
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-4">
                                <input id="btn-submit-form" name="btn-submit-form" type="button" value="Save" class="btn btn-primary">
                             </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form, {'render_rest': true}) }}
        </div>
    </div>    
{% endblock  %}
{% block javascripts %}    
    {{parent()}}
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'validators' }) }}"></script>
    <script src="{{asset('plugins/jasny/js/bootstrap-fileupload.min.js')}}"></script>
    <script src="{{asset('plugins/jquery-validation/js/jquery.validate.min.js')}}"></script>
    <script src="{{asset('plugins/jquery-validation/js/additional-methods.min.js')}}"></script>
    <script src="{{asset('js/admin/user/userFunctions.js')}}"></script>
    <script>
        user.initProfile();
        user.onValidateProfile();
        {% if error %}
            $('#appbundle_user_current_password').prop('disabled', false);
            $('#appbundle_user_password_first').prop('disabled', false);
            $('#appbundle_user_password_second').prop('disabled', false);
            $('#checkPassword').val('true');
            $('#btn-submit-form').prop('disabled', false);

            {% for data in data_change %}
                $('{{ data.id }}').prop('disabled', false);
                $('{{ data.id }}').val('{{ data.value }}');
            {% endfor %}
        {% endif %}
    </script>

{% endblock %}