<p><b>Name:</b> {{user['name']}}</p>
<p><b>Username:</b> {{user['username']}}</p>
<p><b>Email:</b> {{user['email']}}</p>
<p><b>Rol:</b> {{user['rol']}}</p>
<p><b>Phone:</b> {{user['phone']}}</p>
<p><b>Address:</b> {{user['address']}}</p>
