Hi, {{ task.user.name }}</h3>
Congrats!!!
This task has been marked as completed.
Project:{{ project }}
Task: {{ task.name }}
Start Date:{{task.startTime|date('m/d/Y')}}
End Date:{{task.endTime|date('m/d/Y')}}
Created By:{{task.userCreatedTask}}
Priority:{{task.priority}}
Description:{{task.description}}