<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <p><b>Project:</b> {{task.objProyect}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <p><b>Task:</b> {{task.name}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="form-group">
            <p><b>Start Date:</b> {{task.startTime|date('m/d/Y')}}</p>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <p><b>End Date:</b> {{task.endTime|date('m/d/Y')}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="form-group">
            <p><b>Created By:</b> {{task.userCreatedTask}}</p>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <p><b>Assigned To:</b> {{task.user}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="form-group">
            <p><b>Status:</b> {{task.state}}</p>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <p><b>Priority:</b> {{task.priority}}</p>
        </div>
    </div>
</div>
{% if task.instructions is not empty %}       
    <div class="panel panel-info">
        <div class="panel-heading" id="accordion">
            <span class="fa fa-list-ol"></span> <b>Instructions:</b>
            <div class="btn-group pull-right">
                <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </div>
        </div>
        <div class="panel-collapse collapse in" id="collapseOne">
            <div class="panel-body">
                <p>{{task.instructions|raw}}</p>
            </div>
        </div>
    </div>
{% endif %}        
<p><b>Description:</b> {{task.description}}</p>
{% if task.notes|length > 0 %}
<div class="panel panel-primary">
    <div class="panel-heading" id="accordion">
        <span class="fa fa-comments-o"></span> <b>Notes <span class="badge">{{ notes|length }}</span></b>
        <div class="btn-group pull-right">
            <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </div>
    </div>
    <div class="panel-collapse collapse in" id="collapseTwo">
        <div class="panel-body">
            <table id="data-table-notes" class="table table-striped table-hover dt-responsive display" cellspacing="0" width="100%">
            </table>
            <br>
        </div>
    </div>
</div>
{% endif %}

{%if attached|length > 0%}
    <b>ATTACHMENTS:</b>
    <table id="data-table" class="table table-striped table-hover dt-responsive display" cellspacing="0">
        <thead>
        <tr>
            <th class="all">File</th>
            <th class="all">Download</th>
        </tr>
        </thead>
        <tbody>
        {%for item in attached%}
            {% set img = item.attached|split('.') %}
            {% set extension = img[img|length -1]|upper %}
            {%if extension == 'PDF'%}
                {%set icon = 'fa fa-file-pdf-o'%}
            {%elseif extension == 'xlsx' or extension == 'xls' %}
                {%set icon = 'fa fa-file-excel-o'%}
            {%elseif extension == 'doc' or extension == 'docx' %}
                {%set icon = 'fa fa-file-word-o'%}
            {%else %}
                {%set icon = 'fa fa-file-code-o'%}
            {%endif%}    
            <tr>
                <td>
                    <div class="media media-auto">
                        <div class="media-left">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square fa-stack-2x text-primary"></i>
                                <i class="fa {{icon}} fa-stack-1x fa-inverse text-white"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            {{ item.name }}
                        </div>
                    </div>
                </td>
                <td>
                    <a class="btn btn-default" href="{{ asset('img/attached/'~ item.attached) }}" download="{{ item.name }}">
                        <i class="fa fa-download "></i>
                    </a>
                </td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
{%endif%}
<script>
    {% if task.notes|length > 0 %}
        taskit.eventExpandAccordion();
        var dataSet = new Array();
        {% for note in notes %}
            var obj = [ '{{ note.createdOn|date('m/d/Y') }}' , '{{ note.user }}' , '{{ note.note }}'];
            dataSet.push(obj);
        {% endfor %}

        var dataTableColumnsNotes = [
            { title:"Created On" },
            { title: "User"},
            { title:"Note"}
        ];

        $('.modal-loading-notes').hide();
        dataTable = $('table#data-table-notes').DataTable({
            "language": {
                "lengthMenu": Translator.trans('table.textselectcount', {'var': '_MENU_'}, 'admin_js'),
                "zeroRecords": Translator.trans('table.noresult', {}, 'admin_js'),
                "info": Translator.trans('table.textnumberpage', {'page': '_PAGE_', 'pages': '_PAGES_', 'total': '_TOTAL_'}, 'admin_js'),
                "infoEmpty": Translator.trans('table.infoempty', {}, 'admin_js'),
                "search": Translator.trans('search', {}, 'admin_js'),
                "infoFiltered": Translator.trans('table.infofiltered', {'max': '_MAX_'}, 'admin_js'),
                "processing": Translator.trans('table.processing', {}, 'admin_js'),
                "paginate": {
                    "next": Translator.trans('next', {}, 'admin_js'),
                    "previous": Translator.trans('previous', {}, 'admin_js')
                }
            },
            "order": [[ 0, "desc" ]],
            "pageLength": 3,
            "data": dataSet,
            "columns": dataTableColumnsNotes,
            "dom":'<"top">rt<"bottom"ip><"clear">'
        });
    {% endif %}
</script>